@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-storm {
  background: url('./assets/img/storm.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: 50% 50%;
  width: auto;
}
